/* Colors
Teal - #7acdc8
Bevel Grey - #eee
Body - #e2e2e2
Content Bkg - #f1f1f1
Text - #363636
*/


/*==========================================================================
Page Layout
=========================================================================*/

  body{
   background-color: #e2e2e2;
   background-image: url(../img/bg_noise.png);
   color: #363636;
  }

  #slider{
    box-shadow: 0 0 2px #777777;
  }

  #header{
   background-color: #7acdc8;
   border-bottom: 1px solid #60aba6;
   text-align: center;
   max-width: 100%;
  }

  #conflict{
   background-color: #f1f1f1;
   border-bottom: 1px solid #60aba6;
   box-shadow: 0 0 2px #777777;
   max-width: 1000px;
   margin: 0 auto;
   overflow: hidden;
  }

  #conclusion{
   background-color: #f1f1f1;
   border-bottom: 1px solid #60aba6;
   border-top: 1px solid #fff;
   box-shadow: 0 0 2px #777777;
   width: 1000px;
   margin: 0 auto;
   overflow: hidden;
  }

  #extra-links {
   background-color: #7acdc8;
   border-bottom: 1px solid #60aba6;
   border-top: 1px solid #e4e3e6;
   box-shadow: 0 0 2px #777777;
   color: #fff;
   width: 100%;
   padding: 30px;
  }

  #extra-links a{
    color: #fff;

  }

  #extra-links a:hover{
    text-decoration: underline;
  }

  #extra-links h5{
    color: #fff;
    padding-top: 40px;
  }

  footer{
   background-color: #f1f1f1;
   border-bottom: 1px solid #60aba6;
   border-top: 1px solid #fff;
   box-shadow: 0 0 2px #777777;
   color: #7acdc8;
   margin: 0 auto;
   overflow: hidden;
   padding-top: 20px;
  }

  h1{
   color: #ffffff;
   font: 300 3em/1em "oleo script swash caps", sans-serif;
  }


  h2,h3,h4{
   color: #363636;
   font: 300 3em/1em "oleo script swash caps", sans-serif;
   padding-top: 30px;
  }

  #slider h3{
   color: #f1f1f1;
   font: 300 3em/1em "oleo script swash caps", sans-serif;
   padding-top: 30px;
  }

  h5{
   color: #363636;
   font: 300 1.750em/1em "oleo script swash caps", sans-serif;
  }

  h6{
   color: #fff;
   font-size: 16px;
   text-align: center;
  }

.large-12.columns h5{
   color: #7acdc8;
   font: 300 1.750em/1em "oleo script swash caps", sans-serif;
   padding: 30px 0;
  }

#thumb-1, #thumb-2, #thumb-3, #thumb-4, #thumb-5{
   background: #7acdc8;
   padding: 1%;
   margin: 1%;
   width: 18%;
  }

  .reference {
   color: #7acdc8;
   font-size: 12px;
  }

  .divider{
    display: block;
    width: 30%;
    margin: 10px auto 5px;
  }

  .row{
    padding-left: 30px;
    padding-right: 30px;  
  }

  #slider-nav{ padding: 30px;}
      #slider-nav a{ color: #f1f1f1;}

  .button{
    background-color: #f1f1f1;
    border-color: #eeeeee;
    color: #7acdc8;
  }

  .button:hover{
    background: none;
    color: #f1f1f1;
  }
