/*==========================================================================
	Page Layout
  =========================================================================*/

  body{
  	background-color: #e2e2e2;
  	color: #363636;
  	font-size: 16px;
  }

  #content-wrapper{
  	background-color: #f1f1f1;
  	max-width: 970px;
  	margin: 0 auto;
  	padding: 0 30px;
  }

  h1,h2,h3{
  	color: #363636;
  	font: 300 56px "oleo script swash caps", "helvetica neue", sans-serif;
  }

  h6{
  	color: #fff;
  	font-size: 16px;
  	text-align: center;
  }

.large-3{
  	background: #7acdc8;
  	padding: 1%;
  	margin: 1%;
  	width: 18%;
  }